#folders to ignore
.settings/
bin/
target/
.recommenders/
.metadata/
.mylyn/
.plugins/
contexts/
.tasklistindex/
Logs/

#files to ignore
*.lock
*.log
*.ini
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
*.classpath
*.project
*.mv.db
*.trace.db
*.trace.db.old
*.db
*.mv
*.txt
